@import url("https://fonts.googleapis.com/css2?family=Amita&family=Freckle+Face&family=Pattaya&family=Reggae+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Freckle Face", cursive;
  font-family: "Pattaya", sans-serif;
}
button {
  background: none;
  outline: none;
  border: none;
}

/* font-family: 'Amita', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Reggae One', cursive; */
